---
---
@import "{{ site.theme }}";

body {
  font-weight: 475;
  color: black;
}

header {
  background: #9999cc;
  border-bottom: 1px solid;
  h1 {
    color: #ffff;
    text-shadow: unset;
  }
}

blockquote {
  margin: 0 20px 20px;
  padding: 15px 20px 1px 20px;
  color: #2f4f4f;
  color: black;
  border-left: 3px solid #deb887;
  background: rgba(lavender, 0.5);
}

pre {
  margin: 0 -10px 20px;
  background: rgba(thistle, 0.4);
  code {
    color: black;
  }
}

mark {
  background-color: #ffffcc;
}

.wrapper {
  background: #f8f8ff;
}
